<div class="container-fluid">
    <div class="row top-bar">
        <TopBar></TopBar>
    </div>
    <div class="row">
        <Calendar selected={{@selected}}></Calendar>
    </div>

</div>
